footer {
    background: $primary;
    color: $solidWhite;
    padding: 90px 0 50px 0;

    .footerFlexContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    h4 {
        color: $solidWhite;
    }

    .newsletter {
        margin-right: 50px;
        width: calc(40% - 50px);

        form {
            position: relative;
        }

        input {
            background-color: transparent;
            color: $solidWhite;

            width: 100%;

            border: 2px solid rgba(255, 255, 255, 0.2);
            padding: 18px 20px;
            margin-bottom: 20px;

            height: 60px;
            font-size: 0.8rem;
            line-height: 1.2rem;

            &:focus {
                border: 2px solid $solidWhite;
            }

        }

        .secondary {
            position: absolute;
            top: 8px;
            right: 8px;
        }

    }

    .footerNav {
        width: 40%;
        nav {
            display: flex;
            justify-content: space-between;
            
            ul {
                width: calc(100%/3);
            }
        }
        a {
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.8rem;
            line-height: 1.5rem;
            &:hover,
            &:focus {
                color:$solidWhite;
            }
        }
    }

    .social {
        display: flex;
        justify-content: space-between;
        a {
            font-size: 1.2rem;
            margin: 0 10px;
            transition: 0.2s;

            &:hover,
            &focus {
                color:$fifth;

            }
        }
    }

}