header {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    flex-wrap: wrap;
    background-color: $tertiary;

    .headerImgContainer {
        width: 45%;

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }

    .headerContent {
        width: 55%;

        .contentContainer {
            margin: 0 auto;
            width: 65%;
        }

    }

} //end header