.announcements {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
}


.navBar {
    position: sticky;
    top: 0;
    z-index: 10; //the highest z-index is the one on "top", 10 gives us 9 extra layers below to possibly slot things in for later

    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: $solidWhite;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    a {
        display: flex;
    }

    .searchCart {
        display: flex;

        .searchIcon,
        .bagIcon {
            margin-right: 15px;
        }

        .logo {
            margin-left: 60px;
        }
    }

    .counter {
        display: flex;
        align-items: center;

        p {
            width: 24px;
            height: 24px;
            background-color: $primary;
            color: $solidWhite;
            text-align: center;
            border-radius: 50%;
        }
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;

        &:checked ~ .slideOutNav{
            left: 0;
        }
        &:focus + label {
            border: 1px dotted $primary;
        }
    }

    label {
        cursor: pointer;
    }

    .slideOutNav {
        position: fixed;
        top: 0;
        left: -506px;
        transition: 0.75s;


        background-color: $primary;
        color: $solidWhite;

        border: 1px solid $secondary;
        padding: 35px 50px;
        width: 100%;
        max-width: 506px;
        height: 100vh;

        display: flex;
        flex-direction: column;

        .buttonContainer {
            display: flex;
            justify-content: flex-end;

            button {
                color: $solidWhite;
                background-color: transparent;
                
                font-size: 1.2rem;
                font-family: $bodyFont;
                padding: 10px 0 10px 20px;
            }
        }

        hr {
            width: 24px;
            height: 2px;
            margin: 36px 0;
            background-color: $solidWhite;
            border: none;
        }

        .mainMenu {
            font-family: $headingFont;
            font-size: 1.6rem;
            line-height: 2.5rem;

            a{
                &:hover,
                &:focus {
                    color: rgba(255, 255, 255, 0.5);
                }

            }
        }


    }

}



